<style>
  .carousel_img {
    width: 100%;
    height: auto;
  }
</style>
<div class="row">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://firebasestorage.googleapis.com/v0/b/rabbitprofile.appspot.com/o/rabbit7.jpg?alt=media&token=49eb0b37-c87a-48cc-a092-4de98e720c28"
          class="carousel_img d-block w-100" width="1280px" height="800px">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="text_shadow">Welcome to rabbit world</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/rabbitprofile.appspot.com/o/rabbit4.jpg?alt=media&token=cbe8e80f-7886-497d-bde3-50853f13c282"
          class="carousel_img d-block w-100" width="1280px" height="800px">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/rabbitprofile.appspot.com/o/rabbit2.jpg?alt=media&token=efd8b802-ec3f-41cc-aad5-8631f8e00e91"
          class="carousel_img d-block w-100" width="1280px" height="800px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="row justify-content-md-center menu_box">
  <div class="col col-lg-3 col-md-1">
    <img src="https://img.icons8.com/bubbles/100/000000/sylvanian-families.png"/>
      認識兔子
  </div>
  <div class="col col-lg-3 col-md-1">
    <img src="https://img.icons8.com/bubbles/100/000000/grass.png"/>
      飼養百科
  </div>
  <div class="col col-lg-3 col-md-1">
    <img src="https://img.icons8.com/bubbles/100/000000/filled-like.png"/>
      照顧方式
  </div>
</div>