<div class="row">
<% @data.each do |d| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="col" style="border: 1px solid rgb(209, 209, 209);padding: 15px;
      margin: 20px 0;box-shadow: 3px 3px 20px gray;">
      <div class="col">
        <img src="https://fakeimg.pl/200x100/?text=Picture" style="width: 100%;height: auto;">
      </div>
      <div class="col" style="font-size:18px;font-weight:bold;">
        <%= d.name %>
      </div>
      <div class="col">
        <div style="display:inline-block;">$<%= d.price %></div>
        <div style="display:inline-block;float:right">
          <button type="button" class="btn_add_to_chart" data-id="<%= d.id %>"><i class="fa fa-cart-plus fa-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>