<h2 class="row mb-4"><b>兔子飲食</b></h2>
<h5 class="row mb-2"><b>寵物兔的主食是牧草不是紅蘿蔔</b></h5>
<div style="text-indent:4em;">
  <b style="color:red">牧草</b>才是正確主食
在符合現代寵物照顧的飼養觀念中，以乾燥牧草做為寵物兔的主食已經是被飼主與兔醫師之間所廣泛接受的標準答案，乾燥牧草或包裝好的牧草有利於飼主在都會中購買與保存，且寵物兔只有食用牧草才能有效的完成臼齒的水平磨牙(與啃磨牙棒是不同的動作)，牧草內的粗纖維還可以促進腸胃蠕動協助消化，整體而言讓兔兔食用大量的牧草的確可以避免許多疾病產生。以寵物陪伴目的主的飼養行為中，牧草搭配飼料是必須且無可取代的。
</div>
<h2 class="row mb-4" style="margin-top:50px"><b>牧草介紹</b></h2>
<div class="row mb-4" style="border:1px solid #d3d3d3;padding:10px 0;border-radius:10px;">
  <h4><b>苜蓿草</b></h4>
  <div>適合：斷奶後的幼兔、病兔、懷孕母兔配合其他牧草食用。</div>
  <div>特點：香味濃郁，適口性好，草色偏鮮綠，梗多、葉片較細碎。</div>
  <p style="text-indent:4em;">苜蓿草草香濃厚，如遇到較挑食的兔兔，搭配苜蓿草就可以吸引他們食用。
    但苜蓿草由於本身鈣質、蛋白質等營養成分含量較高，6個月以上的成兔就不適合或老兔就不適合大量食用。且其為豆科植物，容易產生
    脹氣、尿鈣沉澱的問題。建議作為輔助草或零食食用為佳。</p>
</div>
<div class="row mb-4" style="border:1px solid #d3d3d3;padding:10px 0;border-radius:10px;">
  <h4><b>提摩西草</b></h4>
  <div>適合：全年齡及兔種。</div>
  <div>特點：香味較淡，梗多方便磨牙，適合終生食用。 草色淺綠。</div>
  <p style="text-indent:4em;">提摩西草為所有草中營養價值最平衡、也能夠讓兔兔磨牙的草種。由於兔子基本上以牧草為主食，因此可以將提摩西草做為基底，其他
    的草類配合不同的需求來做輔助餵食。
    提摩西草又分一割、二割及三割提摩西。梗的多寡以一割為最多依序遞減，因此一割的纖維質相對較高，也最適合讓兔兔磨牙使用。如果一開始不習慣吃梗的兔子，可以先餵食
    二割提摩西，讓他逐漸適應後再換成一割。</p>
</div>
<div class="row mb-4" style="border:1px solid #d3d3d3;padding:10px 0;border-radius:10px;">
  <h4><b>果園草</b></h4>
  <div>適合：全年齡及兔種。</div>
  <div>特點：香味清新自然(依種類有些微差異)，適口性好， 大多全葉無梗，草色深綠。</div>
  <p style="text-indent:4em;">由於果園草的味道更接近大自然的青草，又基本上不會帶梗，因此是許多挑嘴兔的最愛。可以與提摩西草做配合餵食，讓兔兔既可達到
    營養均衡的目的，又能夠解決必要的磨牙需求。</p>
</div>
<div class="row mb-4" style="border:1px solid #d3d3d3;padding:10px 0;border-radius:10px;">
  <h4><b>甜燕麥草</b></h4>
  <div>適合：全年齡及兔種配合其他牧草食用。</div>
  <div>特點：香味淡，適口性好(畢竟甜甜的)，梗較多葉片較細碎，草顏色偏黃。營養低，因此不適合作主食餵食兔兔。</div>
  <p style="text-indent:4em;">甜燕麥草基本上就是一般燕麥草發酵熟成後的型態，因為會有淡淡甜味所以鼠兔小動物都滿喜歡的。但由於畢竟是發酵過的草，營養成
    分下降，無法長期保存，又容易使一些腸胃較不好的鼠兔肚子脹氣，因此建議作為零食少量餵食為佳。</p>
</div>
<div class="row mb-4" style="border:1px solid #d3d3d3;padding:10px 0;border-radius:10px;">
  <h4><b>百慕達草</b></h4>
  <div>適合：肥胖兔。</div>
  <div>特點：香味稀薄，草梗多 ，草色鮮綠，具極高纖維含量。</div>
  <p style="text-indent:4em;">看他的形容就知道一定不太好吃(沒香味、梗又多)，但是主人為了胖兔兔的身體好，選擇高纖維、高蛋白的百慕達草來促進胃腸蠕動是十
    分必要的。如果有口腔問題的兔兔或是有毛球症的問題，由於百慕達草質地較軟，可以試著與果園草搭配餵食來調養身體。</p>
</div>