<div>
  <div>
    <h2><b>兔子起源與演化</b></h2>
    <div style="text-indent:4em">
      家兔來源於野生的穴兔，這種動物大約在3000年前從西班牙擴散至地中海的各個島嶼。雖然同岩兔相比，家兔的耳朵更長尾巴更短，但兩者擁有相同的粒線體DNA。
      比較主流的看法是，世界各地的家兔都起源於歐洲，特別是西班牙和法國等地。中世紀的法國僧侶們為了食用而馴養了野生的穴兔，然後再逐漸通過絲綢之路傳向東方的亞洲國家。
      不過考慮到東亞國家在早期的史書中就記載了家養兔，部分學者持有「家兔起源多中心說」的觀點。
      而對中國家兔做的粒線體DNA研究則表明，即便考慮了曾經發生的雜交，中國本地家兔和歐洲家兔之間仍具有顯著的聯繫。大約在19世紀的早期，家兔才從歐洲被引入美洲大陸。
      1859年家兔從英國被帶入澳大利亞，因為當地植物資源豐富而又沒有天敵，部分逃到戶外的家兔成為了野兔，再加上兔子的繁殖力本來就很高結果造成了其數量激增，
      直到一百多年後利用涎瘤炎病毒控制住。
    </div>
  </div>
  <div style="margin-top:50px">
    <h2><b>認識寵物兔</b></h2>
    <div style="margin-top:20px">
      <ul class="nav nav-pills" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="mistake-tab" data-bs-toggle="tab" data-bs-target="#mistake" type="button" role="tab"
            aria-controls="mistake" aria-selected="true">常見六個的錯誤</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab"
            aria-controls="info" aria-selected="false">身體構造與特徵</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
            aria-controls="contact" aria-selected="false">Contact</button>
      </li>
      </ul>
      <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="mistake" role="tabpanel" aria-labelledby="mistake-tab">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        兔子不用喝水？
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        兔子不用喝水、喝多會拉肚子，是大錯特錯的觀念，寵物兔主食為干牧草及專用飼料，其主食成分不含水，所以一定要提供乾淨的飲水。
                        而且對於生水所含的細菌抵抗力較差，因此給予煮沸待涼後的飲水，才能確保兔子健康。
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        兔子愛吃紅蘿蔔嗎？
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        受到卡通里兔子吃紅蘿蔔的影響，讓大眾誤把紅蘿蔔當成兔子的主食。其實，兔子最主要的食物來源是干牧草與專用飼料，
                        只吃蔬果、紅蘿蔔會導致營養不良，甚至發生維生素過量中毒而不適。
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        兔子眼睛都是紅色的嗎？
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        不是的，兔子的眼睛與身體裡所含色素有關。協會解釋，紅眼小白兔是屬於不含色素的品種（白子因素），
                        其虹彩因為沒有顏色，因此能透視到裡面的血液，並非眼睛本身顏色造成的，更不是因為吃紅蘿蔔才變成紅色。
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        迷你兔不會長大嗎？
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        一般來說，成兔正常的身長至少要有30公分，若超過1歲的兔子身長不足30公分，應該都屬於不正常。
                        這類的迷你寵物兔有許多缺陷，所以要多加注意，適當養育，保護自身及他人。
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        養兔子很臭嗎？
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        健康的寵物兔的排泄是無臭味，加上兔子愛乾淨的習性，基本上不會有讓人不快的味道產生，
                        兔子很臭的污名化來自於台灣早期飼養兔子的刻板印象，以架設高台的方式飼養，排泄物直接掉落在地，久而久之就產生嗆鼻味道。
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        兔子能碰到水嗎？
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        水不會對它們造成傷害。有這種說法往往是因為在洗澡過程所引發的意外，如因為緊張跳出浴盆摔傷、清洗不完全而舔入清潔劑、
                        毛髮沒幹導致不適等等。兔子是會自行整理並保持乾淨的動物，只需要保持飼養環境的整潔即可。
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
        <img src="https://firebasestorage.googleapis.com/v0/b/rabbitprofile.appspot.com/o/1.jpg?alt=media&token=af03212d-b929-4953-959c-b1301f74cb64"
        width="1200px" height="600px">
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
    </div>
  </div>
</div>